version: "3.9"

services:
  web:
    build:
      context: ./frontend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./frontend:/app
      - ${PREDICTIONS_PATH}:/data
    depends_on:
      - db
    env_file:
      - .env


  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  
  dnabert:
    build: ./dnabert
    ports:
      - "5001:5000"
    volumes:
    - ./dnabert:/app

    

volumes:
  pgdata:

