{% extends "base.html" %}
{% load static %}
{% block title %}Predict{% endblock %}

{% block content %}


<style>
    .form-buttons{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .form-buttons button{
        flex: 1;
    }
</style>

<h1>Predict</h1>

<div class='form-block'>
    <form method="post" id="new-form">
        {% csrf_token %}
        
        {% for field in form %}
            <label for="{{ field.id_for_label }}">
            {{ field }}
        {% endfor %}
        <div class="form-buttons">
            <button type="button" id="reset-form">Reset</button>
            <button type="button" id="run-demo" class="btn">Run Demo</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

    <div id="download-container"></div>
    <div id="results-container" style="display: none;"></div>
    
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/predict.js' %}"></script>
    <script src="{% static 'js/reset.js' %}"></script>
{% endblock %}

